html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  position: relative;
}

.title::after {
  content: "/";
  color: #00b2a0;
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  position: absolute;
  top: 0;
}

.header {
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.header__top-inner {
  padding-top: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.logo {
  margin-right: 195px;
}
.mune__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  color: #fff;
  margin: 0 2px 2px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  transition: all 0.5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 98px);
}

.header__title {
  color: #0d302c;
  font-family: "Raleway", sans-serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: auto;
}

.header__subtitle {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 100px;
}

.about {
  background-color: #fff;
}

.about__inner {
  padding: 190px 0 200px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__content-inner {
  max-width: 480px;
  margin-right: auto;
}

.about__content-text {
  min-height: 90px;
  margin-bottom: 30px;
}

.exp {
  background-color: #f8f8f8;
}

.exp__inner {
  padding: 200px 0 200px;
}

.exp__inner-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.exp__comtent-item {
  max-width: 350px;
}

.exp__title-content {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  /* margin-bottom: 15px; */
}

.exp__title-content h4 {
  text-align: center;
  max-width: 155px;
  color: #242121;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.6px;
  margin-left: 10px;
}

.exp__info {
  display: flex;
  justify-content: space-between;
}

.exp__info-item {
  padding-bottom: 18px;
}

.exp__info-item span {
  margin-left: 10px;
}

.exp__info-item span {
  color: #242121;
  font-size: 24px;
  font-weight: 400;
}

.exp__info-text {
  width: 600px;
}

.exp__info-text p {
  padding-bottom: 30px;
}

.exp__info-img {
  float: left;
}

.magic {
  background-color: #fff;
  background-image: url("../images/serf-wave.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center right;
}

.magic__inner {
  max-width: 515px;
  margin-right: auto;
  padding: 200px 0 200px;
  margin-bottom: 150px;
}

/* .magic__title {
  margin-bottom: 100px;
} */

.magic__text p {
  margin-bottom: 30px;
}

.portfolio-title {
  margin-bottom: 200px;
}

.portfolio__menu {
  margin-bottom: 50px;
}

.portfolio__menu-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline-color: #00b2a0;

  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.mixitup-control-active {
  color: #00b2a0;
}

.portfolio__galeri {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.portfolio__galeri + .portfolio__galeri {
  margin-bottom: 50px;
}

.portfolio__galeri-items {
  min-height: 100%;
  position: relative;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.portfolio__galeri-items:hover .portfolio__item-link {
  opacity: 0.6;
}

.portfolio__show-more {
  margin-bottom: 200px;
  text-align: center;
}

.portfolio__show-more {
  align-items: center;
  text-align: center;
}

.portfolio__add {
  border: 1px solid #c4c4c4;
  background: #fff;
  padding: 25px 90px;
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.portfolio__text {
  background-color: #f8f8f8;
  padding: 80px 166px 62px;
  text-align: center;
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.6px;
  margin-bottom: 200px;
}

.portfolio__test-span {
  padding: 0 166px;
  display: block;
  text-align: right;
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
}

.portfolio__video {
  background-image: url("../images/video-bg.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio__num {
  display: flex;
  justify-content: space-around;
  margin-bottom: 180px;
}

.portfolio__num-item {
  margin-bottom: 5px;
  text-align: center;
  color: #01353e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.portfolio__num-item span {
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  display: block;
}

.title__inner {
  margin-bottom: 129px;
}

.slider {
  background-image: url("../images/slider-bg.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
  /* position: relative; */
}

/* .slider__opasitu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
} */

.slider__inner {
  padding: 300px 0 0 0;
}

.slider__item {
  /* padding: 260px 0;
  margin: 0 0 auto; */
  margin-bottom: 250px;
}

.slider__item-title {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.6px;
  max-width: 600px;
  /* display: inline-block; */
  margin: 0 0 0 auto;
}

.slider__item-text {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
  max-width: 600px;
  margin: 0 0 0 auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li + li {
  margin-left: 15px;
}

.slick-dots .slick-active button {
  background-color: #00b2a0;
}

.slick-dots button {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
}

.team {
  padding: 100px 0 200px;
}

.team__title {
  margin-bottom: 100px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name {
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  letter-spacing: 0.6px;
  margin: 25px 0 1px;
}

.team__position {
  color: #242121;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
}

.pricing {
  background-color: #f8f8f8;
  padding: 200px 0;
}

.pricing__title {
  margin-bottom: 100px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

ul.pricing__item {
  background-color: #fff;
  text-align: left;
  padding: 45px 30px;
  width: 360px;
  height: 580px;
}

.pricing__item li {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.pricing__item .pricing__item-name {
  color: #01353e;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 58px;
  text-align: center;
}

.pricing__item .pricing__item-num {
  color: #01353e;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-top: 60px;
  margin-bottom: 45px;
  position: relative;
  bottom: 0;
  text-align: center;
}

.pricing__item li.num2 {
  margin-top: 136px;
}

.pricing__item-num span {
  color: #01353e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  margin-left: 5px;
  top: 8px;
}

.map {
  padding: 200px 0;
}

.map-image {
  margin: 0 auto;
}

.form {
  padding: 0;
}

.form__title {
  margin-bottom: 150px;
}

.form__link-block {
  padding: 200px 0 0 0;
}

.form__link-items {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.form__link-items li:hover {
  color: #00b2a0;
}

.form__link-items li + li {
  margin-left: 10px;
}

.form__block {
  display: flex;
  justify-content: space-between;
}

.form {
  min-width: 570px;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 2px solid #dadada;
  display: block;
  width: 100%;
  padding: 10px 0 16px;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #00b2a0;
  line-height: 18px; /* 100% */
  font-size: 18px;
  letter-spacing: 0.6px;
  width: 260px;
}

.form textarea {
  min-height: 150px;
  resize: none;
}

.form button {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 75% */
  letter-spacing: 0.6px;
  background-color: transparent;
  padding: 25px 110px;
  border: 1px solid #c4c4c4;
  margin-top: 40px;
  cursor: pointer;
}

.form__add {
  max-width: 600px;
  min-height: 460px;
  background-color: #f8f8f8;
  padding: 50px 230px 70px 50px;
}

.form__add p {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 0.6px;
}

.form__add p + p {
  margin-top: 65px;
}

.footer {
  background-color: #00b2a0;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
  .exp__inner-content {
    justify-content: space-around;
  }
  .exp__comtent-item {
    max-width: 300px;
  }
  .magic {
    background-image: none;
  }
  .magic__inner {
    max-width: 100%;
    margin: 0;
    padding: 100px 0;
    text-align: center;
  }
  .team__items,
  .pricing__items {
    column-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .title {
    padding-bottom: 50px;
    font-size: 34px;
  }
  .title::after {
    font-size: 54px;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all 0.5s;
  }
  ul.menu__list {
    padding: 90px 0 15px;
  }
  ul li.menu__list-item {
    margin: 0;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .menu__list-link {
    display: block;
    padding: 15px 0;
    color: #fff;
    margin: 0;
  }
  .logo {
    position: relative;
    z-index: 2;
  }
  .header__top-inner {
    padding-top: 5px;
    justify-content: space-between;
  }
  .menu__list-item {
    margin-bottom: 30px;
  }
  .mune__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 30px;
    position: relative;
    z-index: 3;
  }
  .header__top-inner path {
    fill: #fff;
  }
  .header__top-inner rect {
    fill: #fff;
  }
  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0);
  }
  .about__inner,
  .exp__inner {
    padding: 50px;
  }
  .about__content {
    display: block;
    text-align: center;
  }
  .about__content-inner {
    max-width: 100%;
  }
  .about__content-text {
    min-height: 60px;
    margin-bottom: 10px;
  }
  .exp__inner-content {
    padding-bottom: 50px;
  }
  .exp__comtent-item {
    max-width: 350px;
    margin: 0 auto 15px;
  }
  .exp__inner-content {
    display: block;
    text-align: center;
  }
  .exp__info {
    display: block;
  }
  .exp__info-text {
    width: 100%;
    text-align: center;
  }
  .exp__info-items {
    margin-bottom: 50px;
  }
  .exp__info-item {
    padding-bottom: 18px;
    text-align: center;
  }
  .exp__info-item img {
    float: none;
    display: inline-block;
  }
  .exp__info-text {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .magic__inner {
    padding: 50px 10px;
  }
  .portfolio-title {
    margin: 0;
  }
  .portfolio__menu {
    text-align: center;
  }
  .portfolio__galeri-items img {
    padding: 5px;
  }
  .portfolio__show-more {
    margin-bottom: 50px;
  }
  .portfolio__text {
    padding: 50px 10px;
    margin: 0;
  }
  .portfolio__test-span {
    padding: 10px;
    text-align: center;
  }
  .portfolio__video {
    height: 300px;
    margin-bottom: 50px;
  }
  .portfolio__num {
    margin-bottom: 50px;
  }
  .title__inner {
    margin: 0;
  }
  .slider__item {
    margin-bottom: 100px;
  }
  .slider {
    min-height: 400px;
    margin-bottom: 50px;
  }
  .slider__inner {
    padding-top: 50px;
  }
  .slider__item-title {
    font-size: 34px;
  }
  .slider__item {
    margin-bottom: 60px;
    text-align: center;
  }
  .slider__item-title {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-size: 30px;
  }
  .slider__item-text {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  .map {
    padding: 50px 10px;
  }
  .footer {
    margin: 0;
    padding: 50px 10px;
  }

}

@media (max-width: 768px) {
  .title {
    padding-bottom: 50px;
    font-size: 28px;
  }
  .title::after {
    font-size: 44px;
  }
  .header__title {
    font-size: 160px;
    line-height: 110px;
    margin-bottom: 30px;
  }
  .header__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
  .portfolio__add {
    font-size: 18px;
    padding: 20px 50px;
  }
  .blockquote {
    font-size: 30px;
  }
  .portfolio__num {
    flex-wrap: wrap;
  }
  .portfolio__num-item {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .title {
    padding-bottom: 50px;
    font-size: 16px;
  }
  .title::after {
    font-size: 28px;
  }
  .header__title {
    font-size: 115px;
    line-height: 80px;
    margin-bottom: 30px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 32px;
  }
  .about__inner,
  .exp__inner {
    padding: 50px 10px;
  }
  .portfolio__menu-btn {
    font-size: 18px;
  }
  .team__items {
    display: block;
  }
  .team__item {
    margin-bottom: 25px;
  }
  .team__item img {
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .title {
    padding-bottom: 50px;
    font-size: 14px;
  }
  .about__title {
    font-size: 10px;
  }
  .title::after {
    font-size: 18px;
  }
  .header__title {
    font-size: 90px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 26px;
  }
  .exp__info-item img {
    width: 200px;
  }
  .exp__info-text {
    width: 100%;
  }
  .portfolio__num-item {
    width: 100%;
  }
}

@media (max-width: 340px) {
}
