html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  position: relative;
}

.title::after {
  content: "/";
  color: #00b2a0;
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  position: absolute;
  top: 0;
}

.header {
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.header__top-inner {
  padding-top: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.logo {
  margin-right: 195px;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  color: #fff;
  margin: 0 2px 2px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  transition: all 0.5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 98px);
}

.header__title {
  color: #0d302c;
  font-family: "Raleway", sans-serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: auto;
}

.header__subtitle {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 100px;
}

.about__inner {
  background-color: #fff;
  padding: 190px 0 200px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__content-inner {
  max-width: 480px;
  margin-right: auto;
}

.about__content-text {
  min-height: 90px;
  margin-bottom: 30px;
}
